.body{
    background-color: rgb(211, 211, 248);
}

add-task{
    width: 50;
    height: 50;
    background-color:rgb(82, 82, 241);
    display: inline-block;
    border-radius: 20;
    text-align: center;
    margin: auto;
}

#add-section {
    margin: 20;
    border-radius: 20px;
}